@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}


@theme {
  --color-primary: #DB4444;
  --color-secondary: #00FF66;
}

body {
  font-family: 'Poppins', sans-serif;
}
